// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import "~bootstrap/scss/bootstrap";

* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    display: inline-block;
}